
*.dll
*.pdb
*.exe
*.props
*.CopyComplete
*.editorconfig
*.cache
*.dll
2048/backend/API/bin/Debug/net6.0/Back.runtimeconfig.json
2048/backend/API/Controllers/PizzaController.cs
2048/backend/API/Controllers/WeatherForecastController.cs
2048/backend/API/Models/Pizza.cs
2048/backend/API/obj/Back.csproj.nuget.dgspec.json
2048/backend/API/obj/Back.csproj.nuget.g.targets
2048/backend/API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
2048/backend/API/obj/Debug/net6.0/Back.AssemblyInfo.cs
2048/backend/API/obj/Debug/net6.0/Back.csproj.FileListAbsolute.txt
2048/backend/API/obj/Debug/net6.0/Back.GlobalUsings.g.cs
2048/backend/API/obj/Debug/net6.0/Back.MvcApplicationPartsAssemblyInfo.cs
2048/backend/API/obj/Debug/net6.0/project.razor.json
2048/backend/API/obj/Debug/net6.0/staticwebassets.build.json
2048/backend/API/obj/project.assets.json
2048/backend/API/Program.cs
2048/backend/API/Properties/launchSettings.json
2048/backend/API/Services/PizzaService.cs
2048/backend/API/WeatherForecast.cs
2048/backend/Board/bin/Debug/net7.0/Board.deps.json
2048/backend/Board/obj/Board.csproj.nuget.dgspec.json
2048/backend/Board/obj/Board.csproj.nuget.g.targets
2048/backend/Board/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2048/backend/Board/obj/Debug/net7.0/Board.AssemblyInfo.cs
2048/backend/Board/obj/Debug/net7.0/Board.csproj.FileListAbsolute.txt
2048/backend/Board/obj/Debug/net7.0/Board.GlobalUsings.g.cs
2048/backend/Board/obj/project.assets.json
2048/backend/BoardTests/bin/Debug/net7.0/BoardTests.deps.json
2048/backend/BoardTests/bin/Debug/net7.0/CoverletSourceRootsMapping
2048/backend/BoardTests/obj/BoardTests.csproj.nuget.dgspec.json
2048/backend/BoardTests/obj/BoardTests.csproj.nuget.g.targets
2048/backend/BoardTests/obj/Debug/net7.0/BoardTests.AssemblyInfo.cs
2048/backend/BoardTests/obj/Debug/net7.0/BoardTests.csproj.FileListAbsolute.txt
2048/backend/game/bin/Debug/net7.0/game.deps.json
2048/backend/game/bin/Debug/net7.0/game.runtimeconfig.json
2048/backend/game/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2048/backend/game/obj/Debug/net7.0/game.AssemblyInfo.cs
2048/backend/game/obj/Debug/net7.0/game.csproj.FileListAbsolute.txt
2048/backend/game/obj/Debug/net7.0/game.GlobalUsings.g.cs
2048/backend/game/obj/game.csproj.nuget.dgspec.json
2048/backend/game/obj/game.csproj.nuget.g.targets
2048/backend/game/obj/project.assets.json
